<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>阻尼实验室</title>
  <link rel="stylesheet" href="css/materialdesignicons.min.css">
  <link rel="stylesheet" href="css/style1.css">
  <link rel="shortcut icon" href="images/favicon.png" />
  <script src="js/socket.io.js"></script>
  <style type="text/css">
    #chart {
      width: 100%;
      height: 310px;
      margin: 0 auto;
    }
    .rtmpvideo {
      height: 330px;
      width: 100%;
    }
    .close-button{
      margin: 0 auto;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: none;
      color: #fff;
      background: rgb(204, 204, 204);
      outline: none;  
      cursor: pointer;
    }
    @media screen and (min-width: 1700px) {
      #chart {
        width: 100%;
        height: 510px;
        margin: 0 auto;
      }
      .rtmpvideo {
        height: 530px;
        width: 100%;
      }
    }

  </style>
</head>

<body>
  <div class="body-wrapper">
    <aside class="mdc-persistent-drawer">
      <nav class="mdc-persistent-drawer__drawer" style="position: fixed;">
        <div class="mdc-persistent-drawer__toolbar-spacer">
          <a href="index.html" class="brand-logo">
						<img src="images/logo.svg" alt="logo">
					</a>
        </div>
        <div class="mdc-list-group">
          <nav class="mdc-list mdc-drawer-menu">
            <div class="mdc-list-item mdc-drawer-item">
              <a class="mdc-drawer-link" href="/users/login">
                <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">desktop_mac</i>
                登录
              </a>
            </div>
            <div class="mdc-list-item mdc-drawer-item">
              <a class="mdc-drawer-link" href="/order">
                <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">track_changes</i>
                实验预约
              </a>
            </div>
           
            <div class="mdc-list-item mdc-drawer-item purchase-link">
              <a href="/users" target="_blank" class="mdc-button mdc-button--raised mdc-button--dense mdc-drawer-link" data-mdc-auto-init="MDCRipple">
                后台管理
              </a>
            </div>
          </nav>
        </div>
      </nav>
    </aside>
    
    <header class="mdc-toolbar mdc-elevation--z4 mdc-toolbar--fixed">
      <div class="mdc-toolbar__row">
        <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
          <a href="#" class="menu-toggler material-icons mdc-toolbar__menu-icon">menu</a>
          
        </section>
        <section class="mdc-toolbar__section mdc-toolbar__section--align-end" role="toolbar">
          <div class="mdc-menu-anchor">
            <a href="javascript:void(0);" class="mdc-toolbar__icon mdc-ripple-surface" data-mdc-auto-init="MDCRipple" onclick="saveData()" style="color: #fff">
              <!-- <i class="material-icons">widgets</i> -->
              <!-- <button class="mdc-button mdc-button--raised" onclick="saveData()" id="save">保存数据</button> -->
              保存数据
            </a>
          </div>
          <div class="mdc-menu-anchor mr-1">
            <a href="#" class="mdc-toolbar__icon toggle mdc-ripple-surface" data-toggle="dropdown" toggle-dropdown="logout-menu" data-mdc-auto-init="MDCRipple">
              <i class="material-icons">more_vert</i>
            </a>
            <div class="mdc-simple-menu mdc-simple-menu--right" tabindex="-1" id="logout-menu">
                <!-- <ul class="mdc-simple-menu__items mdc-list" role="menu" aria-hidden="true">
                  <li class="mdc-list-item" role="menuitem" tabindex="0">
                    <i class="material-icons mdc-theme--primary mr-1">settings</i>
                    Settings
                  </li>
                  <li class="mdc-list-item" role="menuitem" tabindex="0">
                    <i class="material-icons mdc-theme--primary mr-1">power_settings_new</i>
                    Logout
                  </li>
                </ul> -->
            </div>
          </div>
        </section>
      </div>
    </header>

    <% if (user) { %>
    <div class="page-wrapper mdc-toolbar-fixed-adjust">
      <main class="content-wrapper">
        <div class="mdc-layout-grid">
          <div class="mdc-layout-grid__inner">
            

			      <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6">
              <div class="mdc-card card--with-avatar">
                <!-- <iframesrc="http://cloud.quklive.com/cloud/a/embed/1551170380026773"></iframe> -->
                <div id="video" class="card-body rtmpvideo"></div> 
              </div>
            </div>
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6">
              <div class="mdc-card">
                <!-- <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
                  <span class="mdc-toolbar__input">
                    <div class="mdc-text-field"> -->
                      <input type="text" class="mdc-text-field__input" id="peak" placeholder="" style="width: 50px;margin-left: 10px;">
                   <!--  </div>
                  </span>
                </section> -->

                <div id="chart"></div>
              </div>
            </div>
            

            
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4">
              <div class="mdc-card py-3 pl-2 d-flex flex-row align-item-center">
                <label>电机</label>
                <button class="close-button" id="mator">开</button>
                <!-- <button class="mdc-button mdc-button--raised" onclick="saveData()" id="save">保存数据</button> -->
              </div>
            </div>
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4">
              <div class="mdc-card py-3 pl-2 d-flex flex-row align-item-center">
                <label>电磁铁</label>
                <button class="close-button" id="magnet">开</button>
              </div>
            </div>
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4">
              <div class="mdc-card py-3 pl-2 d-flex flex-row align-item-center">
                <button class="close-button" onclick="addSpeed()" id="add">加速</button>
                <a href="#" class="mdc-button mdc-button--raised" id="speedNum" role="button" aria-disabled="true">2.0</a>
                <button class="close-button" onclick="reduceSpeed()" id="reduce">减速</button>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer>
        
      </footer>
    </div>
    <% } else {%>
    <div class="page-wrapper mdc-toolbar-fixed-adjust">
      <h1>未到预约时间</h1>
    </div>
    <% } %>
  </div>

  <script type="text/javascript" src="ckplayer/ckplayer.js"></script>
  <script type="text/javascript">
    var videoObject = {
      container: '#video', //容器的ID或className
      variable: 'player',//播放函数名称
      autoplay:false,
      live:true,
      video: 'rtmp://rtmpdist-w.quklive.com/live/w1551170380026773'
    };
    var player = new ckplayer(videoObject);
  </script>
  <script src="js/material-components-web.min.js"></script>
  <script src="js/jquery.3.2.1.min.js"></script>
  <script src="js/misc.js"></script>
  <script src="js/material.js"></script>
  <script src="js/echarts.min.js"></script>
  <script src="js/init.js"></script>
  <script src="js/control.js"></script>
</body>

</html>