<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>阻尼实验室</title>
  <link rel="stylesheet" href="css/materialdesignicons.min.css">
  <link rel="stylesheet" href="css/style1.css">
  <link rel="shortcut icon" href="images/favicon.png" />
  <script src="js/socket.io.js"></script>
  <style type="text/css">
    #chart {
      width: 100%;
      height: 200px;
      margin: 0 auto;
    }
  </style>
</head>

<body>
  <div class="body-wrapper">
    <aside class="mdc-persistent-drawer mdc-persistent-drawer--open">
      <nav class="mdc-persistent-drawer__drawer" style="position: fixed;">
        <div class="mdc-persistent-drawer__toolbar-spacer">
          <a href="index.html" class="brand-logo">
						<img src="images/logo.svg" alt="logo">
					</a>
        </div>
        <div class="mdc-list-group">
          <nav class="mdc-list mdc-drawer-menu">
            <div class="mdc-list-item mdc-drawer-item">
              <a class="mdc-drawer-link" href="/users/login">
                <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">desktop_mac</i>
                登录
              </a>
            </div>
            <div class="mdc-list-item mdc-drawer-item">
              <a class="mdc-drawer-link" href="/order">
                <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">track_changes</i>
                实验预约
              </a>
            </div>
           
            <div class="mdc-list-item mdc-drawer-item purchase-link">
              <a href="/users" target="_blank" class="mdc-button mdc-button--raised mdc-button--dense mdc-drawer-link" data-mdc-auto-init="MDCRipple">
                后台管理
              </a>
            </div>
          </nav>
        </div>
      </nav>
    </aside>
    <!-- partial -->
    <!-- partial:partials/_navbar.html -->
    <header class="mdc-toolbar mdc-elevation--z4 mdc-toolbar--fixed">
      <div class="mdc-toolbar__row">
        <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
          <a href="#" class="menu-toggler material-icons mdc-toolbar__menu-icon">menu</a>
          
        </section>
        <section class="mdc-toolbar__section mdc-toolbar__section--align-end" role="toolbar">
          <div class="mdc-menu-anchor">
            <a href="#" class="mdc-toolbar__icon mdc-ripple-surface" data-mdc-auto-init="MDCRipple">
              <i class="material-icons">widgets</i>
            </a>
          </div>
          <div class="mdc-menu-anchor mr-1">
            <a href="#" class="mdc-toolbar__icon toggle mdc-ripple-surface" data-toggle="dropdown" toggle-dropdown="logout-menu" data-mdc-auto-init="MDCRipple">
              <i class="material-icons">more_vert</i>
            </a>
            <div class="mdc-simple-menu mdc-simple-menu--right" tabindex="-1" id="logout-menu">
                <ul class="mdc-simple-menu__items mdc-list" role="menu" aria-hidden="true">
                  <li class="mdc-list-item" role="menuitem" tabindex="0">
                    <i class="material-icons mdc-theme--primary mr-1">settings</i>
                    Settings
                  </li>
                  <li class="mdc-list-item" role="menuitem" tabindex="0">
                    <i class="material-icons mdc-theme--primary mr-1">power_settings_new</i>
                    Logout
                  </li>
                </ul>
            </div>
          </div>
        </section>
      </div>
    </header>
    <!-- partial -->
    <div class="page-wrapper mdc-toolbar-fixed-adjust">
      <main class="content-wrapper">
        <div class="mdc-layout-grid">
          <div class="mdc-layout-grid__inner">
            

			      <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4">
              <div class="mdc-card card--with-avatar">
                <iframe class="card-body rtmpvideo" src="http://cloud.quklive.com/cloud/a/embed/1551170380026773"></iframe>
                 
              </div>
            </div>
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-8">
              <div class="mdc-card">
                <div id="chart"></div>
              </div>
            </div>
            

            
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3">
              <div class="mdc-card py-3 pl-2 d-flex flex-row align-item-center">
                <button class="mdc-button mdc-button--raised" onclick="close()">电机开关</button>
                <button class="mdc-button mdc-button--raised" onclick="saveData()">保存数据</button>
              </div>
            </div>
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3">
              <div class="mdc-card py-3 pl-2 d-flex flex-row align-item-center">
                <button class="mdc-button mdc-button--raised" onclick="lockSmall()">松开小臂</button>
                <button class="mdc-button mdc-button--raised" onclick="saveData()">保存数据</button>
              </div>
            </div>
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3">
              <div class="mdc-card py-3 pl-2 d-flex flex-row align-item-center">
                <button class="mdc-button mdc-button--raised secondary-filled-button" onclick="addSpeed()">加速</button>
                <a href="#" class="mdc-button mdc-button--raised" id="speedNum" role="button" aria-disabled="true">20</a>
                <button class="mdc-button mdc-button--stroked secondary-stroked-button mdc-ripple-upgraded" onclick="reduceSpeed()">减速</button>
              </div>
            </div>
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3">
              <div class="mdc-card py-3 pl-2 d-flex flex-row align-item-center">
                <input type="text" class="mdc-text-field__input" id="peak" value="">
                <button type="button" class="mdc-button mdc-button--raised" onclick="rangeY()">更改峰值</button>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer>
        
      </footer>
    </div>
  </div>
  <script src="js/material-components-web.min.js"></script>
  <script src="js/jquery.3.2.1.min.js"></script>
  <script src="js/misc.js"></script>
  <script src="js/material.js"></script>
  <script src="js/jquery.3.2.1.min.js"></script>
  <script src="js/echarts.min.js"></script>
  <script src="js/init.js"></script>
  <script src="js/control.js"></script>
</body>

</html>