<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/video-js.min.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="css/ready.min.css" rel="stylesheet">
    <link href="css/demo.css" rel="stylesheet">
    <script src="js/socket.io.js"></script>
    <script src="js/video.min.js"></script>
  </head>
  <body>
      <div class="htmleaf-container">
          <nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-offcanvas">
              <div class="container-fluid">
                  <a class="navbar-brand" href="#"></a>
                  <button class="navbar-toggler navbar-toggler-right navbar-icon" type="button" data-toggle="collapse" data-target="#navbar-mobile" aria-controls="navbar-mobile" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="icon-bar bar1"></span>
                      <span class="icon-bar bar2"></span>
                      <span class="icon-bar bar3"></span>
                  </button>
                  <div class="navbar-collapse collapse ml-auto" id="navbar-mobile">
                      <ul class="navbar-nav ml-auto">
                          <li class="nav-image">
                              <img src="assets/img/profile2.jpg" alt="">
                          </li>
                          <!-- <input class="btn btn-primary" type="button" value="Input"> -->
                          <li class="nav-item" style="margin-bottom: 10px;">
                              <% if (user) { %>
                              <a href="/users" class="nav-link btn btn-primary btn btn-secondary">管理</a>
                              <% } else {%>
                              <a href="/users/login" class="nav-link btn btn-secondary">登录</a>
                              <% } %>
                          </li>
                          <li class="nav-item">
                            <% if (!user) { %>
                            <a href="order" class="nav-link btn btn-secondary">实验预约</a>
                            <% } %>  
                          </li>
                          <li class="nav-item">
                              <!-- <a href="#!" class="nav-link">Link</a> -->
                          </li>
                      </ul>
                  </div>
              </div>
          </nav>
    
          <div class="main-panel2">
               <div class="content">
                 <div class="container-fluid">
                   <h4 class="page-title">远程阻尼演示系统</h4>
                   <div class="row">
                     <div class="col-md-4">
                       <div class="card">
                         <div class="card-header">
                           <div class="card-title">实验视频</div>
                         </div>
                         <div class="card-body">
                           <video id="my-player" class="video-js vjs-big-play-centered">
                          <source src="rtmp://rtmp-w.quklive.com/live/w1551170380026773" type="video/mp4"></source>
                            <source src=<%= live %> type="rtmp/flv">
                          <p class="vjs-no-js">
                            请升级浏览器
                            <a href="rtmp://rtmp-w.quklive.com/live/w1551170380026773">
                              supports HTML5 video
                            </a>
                          </p>
                      </video>
                         </div>
                       </div>
               
                     </div>
                     <div class="col-md-8">
                       <div class="card">
                         <div class="card-header">
                           <div class="card-title">实验波形图</div>
                         </div>
                         <div class="card-body">
                           <div id="chart"></div>
                         </div>
                       </div>
                     </div>
    
                     <div class="col-md-12">
                       <div class="card">
                         <!-- <div class="card-header">
                           <h4 class="card-title">Button Original</h4>
                           <p class="card-category">Here is a subtitle for this table</p>
                         </div> -->
                         <div class="card-body row">
                           <div class="col-md-6">
                             <button class="btn btn-default">电机开关</button>
                             <button class="btn btn-primary">电磁开关</button>
                             <button class="btn btn-default " onclick="addSpeed()">打开大臂</button>
                             <button class="btn btn-primary" onclick="addSpeed()">打开小臂</button>
                          </div>
                          <div class="col-md-6">
                             <button class="btn btn-info pull-right1" onclick="addSpeed()">加速</button>
                             <a href="#" class="btn btn-primary btn-lg disabled" id="speedNum" role="button" aria-disabled="true">1</a>
                             <button class="btn btn-success pull-right1" onclick="reduceSpeed()">减速</button>
                          </span>
                         </div>
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
          </div>
            
      </div>

    <script>
      var options = {};
      videojs.options.flash.swf = "/lab/video-js.swf";
      // 初始化视频，设为全局变量
      var myPlayer = videojs('my-player', {
          autoplay: true,
          controls: true,//控制条
          poster: "https://vjs.zencdn.net/v/oceans.png",
          techOrder: ["flash"],
          muted: true,// 静音
          preload: "auto",// 预加载
          language: "zh-CN",// 初始化语言
          dataSetup: '{}',
          width: '600px',
          fluid: true
      }, function () {
          console.log("--------------成功初始化视频--------------");
          this.play();
          myPlayer.one("playing", function () {         // 监听播放
              console.log("开始播放");
          });
          myPlayer.one("error", function (error) {      // 监听错误
              console.error("监听到异常，错误信息：%o",error);
          });
      });


    </script>
    
    <script src="js/jquery.3.2.1.min.js"></script>
    <script src="js/echarts.min.js"></script>
    <script src="js/script.js"></script>
    <script src="js/db.js"></script>
    <script src="js/init.js"></script>
    <script src="js/control.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
