<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>阻尼实验室</title>
  <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet" type="text/css" />
  <style type="text/css">
    a:hover {
      text-decoration: none;
    }

    .labnav {
      max-height: 64px;
      color: #fff !important;
      background: #00a9f4;
      box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    }

    .nav-link {
      color: #ffffff !important;
    }

    #chart {
      width: 100%;
      height: 310px;
      margin: 0 auto;
    }

    #peak {
      border: none;
      border-bottom: 1px solid black;
      outline: none;
    }

    .rtmpvideo {
      height: 330px;
      width: 100%;
    }

    .close-button {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: none;
      color: #fff;
      background: rgb(204, 204, 204);
      outline: none;
      cursor: pointer;
    }

    .close-button:focus {
      outline: none;
    }

    .ctrl-group {
      display: flex;
      justify-content: space-around;
      box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.15);
      padding: 40px 0;
    }

    #speedNum,
    .ctrl-group h5 {
      line-height: 60px;
    }

    @media screen and (min-width: 1700px) {
      #chart {
        width: 100%;
        height: 510px;
        margin: 0 auto;
        padding: 0;
      }

      .rtmpvideo {
        height: 530px;
        width: 100%;
      }
    }
  </style>
</head>

<body>
  <div class="htmleaf-container">
    <nav class="navbar navbar-expand-md navbar-dark navbar-offcanvas labnav">
      <div class="container-fluid">
        <a class="navbar-brand" href="/damping"></a>
        <button class="navbar-toggler navbar-toggler-right navbar-icon" type="button" data-toggle="collapse"
          data-target="#navbar-mobile" aria-controls="navbar-mobile" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="icon-bar bar1"></span>
          <span class="icon-bar bar2"></span>
          <span class="icon-bar bar3"></span>
        </button>
        <div class="navbar-collapse collapse ml-auto" id="navbar-mobile">
          <ul class="navbar-nav ml-auto">
            <li class="nav-image">
              <img src="/img/profile2.jpg" alt="">
            </li>
            <li class="nav-item" style="margin-bottom: 10px;">
              <% if (user) { %>
              <a href="/users" class="nav-link btn btn-primary btn btn-secondary">管理</a>
              <% } else if (appointer) {%>
              <a href="/users/logout" class="nav-link btn btn-secondary">退出</a>
              <% } else {%>
              <a href="/users/login" class="nav-link btn btn-secondary">登录</a>
              <% } %>
            </li>
            <li class="nav-item">
              <% if (!user) { %>
              <a href="order" class="nav-link btn btn-secondary">实验预约</a>
              <% } %>
            </li>
            <li class="nav-item">
              <!-- <a href="#!" class="nav-link">Link</a> -->
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid" style="margin-top: 30px;">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div id="video" class="rtmpvideo"></div>
        </div>
        <div class="col-md-6 col-sm-12">
          <input type="text" id="peak" placeholder="" style="width: 50px;margin-left: 10px;">
          <a class="pull-right" style="float: right;" href="javascript:;" onclick="saveData()">数据下载</a>
          <div id="chart"></div>
        </div>
      </div>

      <% if (user || appointer) { %>
      <div class="row" style="margin-top: 30px;">

        <div class="col-md-4 col-sm-12">
          <div class="ctrl-group">
            <h5>电机</h5>
            <button class="close-button" id="mator">关</button>
          </div>
        </div>

        <div class="col-md-4 col-sm-12">
          <div class="ctrl-group">
            <h5>电磁铁</h5>
            <button class="close-button" id="magnet">关</button>
          </div>
        </div>

        <div class="col-md-4 col-sm-12 ">
          <div class="ctrl-group">
            <button class="close-button" onclick="addSpeed()" id="add">加速</button>
            <span id="speedNum">2.0</span>
            <button class="close-button" onclick="reduceSpeed()" id="reduce">减速</button>
          </div>
        </div>

      </div>
      
      <% } %>
    </div>
  </div>

  <script type="text/javascript" src="/ckplayer/ckplayer.min.js"></script>
  <script type="text/javascript">
    var videoObject = {
      container: '#video', //容器的ID或className
      variable: 'player', //播放函数名称
      autoplay: false,
      live: true,
      video: 'rtmp://rtmpdist-w.quklive.com/live/w1551170380026773'
    };
    var player = new ckplayer(videoObject);
  </script>
  <script src="https://cdn.bootcss.com/socket.io/2.0.4/socket.io.slim.js"></script>
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.slim.min.js"></script>
  <script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts-en.simple.min.js"></script>
  <script src="/js/index.js"></script>
  <script src="/js/init.js"></script>
  <script src="/js/control.js"></script>
</body>

</html>