<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Tables - Ready Bootstrap Dashboard</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/flatpickr.min.css">
	<link rel="stylesheet" href="/css/ready.css">
</head>
<body>
	<div class="container">
		<div class="content">
			<div class="container-fluid">
				<h4 class="page-title">实验首页</h4>
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<div class="card-title">实验预约</div>
							</div>
							<div class="card-body">
								<div class="form-group">
									<label for="text">输入信息</label>
									<input type="text" class="form-control" id="name" placeholder="请输入姓名">
								</div>
								<div class="form-group">
									<label for="text">直播流</label>
									<input type="text" class="form-control" id="live" placeholder="请输入直播流">
								</div>

								<div class="mt40 form-group">
							        <label for="text">预约时间</label>
							        <input class="flatpickr form-control" id="time" data-enable-time="true" data-enable-seconds="true">
							        
							    </div>

								<div class="form-group">
									<label for="disableinput">备注</label>
									<textarea class="form-control" rows="3" id="remark" placeholder="备注"></textarea>
								</div>
								
								<div class="card-action">
									<button class="btn btn-success" id="order">Submit</button>
									<button class="btn btn-danger">Cancel</button>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
			<footer class="footer">
				
			</footer>
		</div>
	</div>

</body>
<script src="/assets/js/core/jquery.3.2.1.min.js"></script>
<script src="/assets/js/core/bootstrap.min.js"></script>
<script src="/login/flatpickr.min.js"></script>
<script src="/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
<!-- <script src="/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script> -->
<!-- <script src="/assets/js/ready.min.js"></script> -->
<script>
	$('#order').on('click', function(){
		var orderInfo = {};
		orderInfo.name = $('#name').val();
		orderInfo.time = $('#time').val();
		orderInfo.live = $('#live').val();
		orderInfo.remark = $('#remark').val();
		$.ajax({
	      url: '/users/order',
	      method:'post',
	      data: orderInfo,
	      success: function (res) {
	        $.notify({
	        	icon: 'la la-bell',
	        	title: res,
	        	message: '预约成功',
	        },{
	        	type: 'success',
	        	placement: {
	        		from: "bottom",
	        		align: "right"
	        	},
	        	time: 1000,
	        });
	      },
	      error: function(err) {
	        $.notify({
        		title: '预约失败',
        		message: '预约失败',
        	},{
        		type: 'danger',
        		placement: {
        			from: "bottom",
        			align: "right"
        		},
        		time: 1000,
        	});
	      }
	    })
	})
	

	// 时间选择
	$(".flatpickr").flatpickr({
	    enableTime: true,
    	dateFormat: "Y-m-d H:i",
	});

</script>
</html>